In [1]:
import pandas as pd
import os
import json

In [2]:
os.getcwd()

'C:\\Guvi_project_files\\PhonePeDataVisualization'

In [3]:
!pip install mysql-connector-python
!pip install mysql

Requirement already satisfied: mysql-connector-python in c:\users\praka\appdata\local\programs\python\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\praka\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: mysql in c:\users\praka\appdata\local\programs\python\python311\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\praka\appdata\local\programs\python\python311\lib\site-packages (from mysql) (2.2.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
file_path = 'C:\\Guvi_project_files\\PhonePeDataVisualization\\pulse\\data\\aggregated\\user\\country\\india\\state'
agg_dir = os.listdir(file_path)
header_1 = {'State': [],'Year': [],'Brands': [],'Count': [],'Percentage': []}
states =[]
for state in agg_dir:
    states.append(state)
    indian_states =  file_path + '/' + state +'/'
    agg_dir_state = os.listdir(indian_states)
    for year in agg_dir_state:
        resp_year = indian_states + year + '/'
        agg_dir_state_year = os.listdir(resp_year)
        for files in agg_dir_state_year:
            datas = resp_year+files
            f = open(datas,'r')
            A = json.load(f)
            try:
                for result in A['data']['usersByDevice']:
                    brand = result['brand']
                    count = result['count']
                    percentage = result['percentage']
                    header_1['State'].append(state)
                    header_1['Year'].append(year)
                    header_1['Brands'].append(brand)
                    header_1['Count'].append(count)
                    header_1['Percentage'].append(percentage)
            except:
                pass

In [5]:
data_aggregated_user = pd.DataFrame(header_1)

In [7]:
data_aggregated_user.to_csv('data_aggregated_user.csv')

In [7]:
file_path = 'C:\\Guvi_project_files\\PhonePeDataVisualization\\pulse\\data\\map\\transaction\\hover\\country\\india\\state'
agg_dir = os.listdir(file_path)
header_2 = {'State': [], 'Year': [],'District Name': [],'Count': [],'Amount': []}
for state in agg_dir:
    indian_states =  file_path + '/' + state +'/'
    agg_dir_state = os.listdir(indian_states)
    for year in agg_dir_state:
        resp_year = indian_states + year + '/'
        agg_dir_state_year = os.listdir(resp_year)
        for files in agg_dir_state_year:
            datas = resp_year+files
            f = open(datas,'r')
            A = json.load(f)
            try:
                for result in A['data']['hoverDataList']:
                    district = result['name']
                    count = result['metric'][0]['count']
                    amount = result['metric'][0]['amount']
                    header_2['State'].append(state)
                    header_2['Year'].append(year)
                    header_2['District Name'].append(district)
                    header_2['Count'].append(count)
                    header_2['Amount'].append(amount)
            except:
                pass

In [8]:
data_map_transaction = pd.DataFrame(header_2)

In [10]:
data_map_transaction.to_csv('data_map_transaction.csv')

In [10]:
file_path = 'C:\\Guvi_project_files\\PhonePeDataVisualization\\pulse\\data\\aggregated\\transaction\\country\\india\\state'
agg_dir = os.listdir(file_path)
header_3 = {'State': [], 'Year': [],'Mode_of_Transaction': [],'Count': [],'Amount': []}
for state in agg_dir:
    indian_states =  file_path + '/' + state +'/'
    agg_dir_state = os.listdir(indian_states)
    for year in agg_dir_state:
        resp_year = indian_states + year + '/'
        agg_dir_state_year = os.listdir(resp_year)
        for files in agg_dir_state_year:
            datas = resp_year+files
            f = open(datas)
            A = json.load(f)
            for result in A['data']['transactionData']:
                mode = result['name']
                count = result['paymentInstruments'][0]['count']
                amount = result['paymentInstruments'][0]['amount']
                header_3['State'].append(state)
                header_3['Year'].append(year)
                header_3['Mode_of_Transaction'].append(mode)
                header_3['Count'].append(count)
                header_3['Amount'].append(amount)

In [11]:
data_aggregated_transaction = pd.DataFrame(header_3)

In [13]:
data_aggregated_transaction.to_csv('data_aggregated_transaction.csv')

In [13]:
file_path = 'C:\\Guvi_project_files\\PhonePeDataVisualization\\pulse\\data\\map\\user\\hover\\country\\india\\state'
map_user = os.listdir(file_path)
header_4 = {'State' : [],'Year':[],'DisTrict_name' :[],'Register_user':[],'AppOpens' :[]}
for state in map_user:
    user_state =  file_path + '/' + state
    map_user_state = os.listdir(user_state)
    for year in map_user_state:
        map_user_state_year = file_path + '/' + state + '/'+ year + '/'
        user_state_year_wise_detail = os.listdir(map_user_state_year)
        for files in user_state_year_wise_detail:
            file_detail = map_user_state_year+files
            json_file = open(file_detail)
            json_data = json.load(json_file)
            for a in json_data['data']['hoverData'].items():
                district = a[0]
                registeruser = a[1]['registeredUsers']
                appOpens = a[1]['appOpens']
                header_4['State'].append(state)
                header_4['Year'].append(year)
                header_4['DisTrict_name'].append(district)
                header_4['Register_user'].append(registeruser)
                header_4['AppOpens'].append(appOpens)

In [14]:
data_map_user = pd.DataFrame(header_4)

In [16]:
data_map_user.to_csv('data_map_user.csv')

In [16]:
file_path = 'C:\\Guvi_project_files\\PhonePeDataVisualization\\pulse\\data\\top\\transaction\\country\\india\\state'
top_trans = os.listdir(file_path)
header_5_A = {'State':[],'Year':[],'District':[],'Count':[],'Amount':[]}
for state in top_trans:
    top_state =  file_path + '/'+ state + '/'
    top_trans_with_state = os.listdir(top_state)
    for year in top_trans_with_state:
        top_state_trans = top_state + year
        topstate_trans_returns = os.listdir(top_state_trans)
        for files in topstate_trans_returns:
            file_details = top_state_trans+'/' + files
            json_details = open(file_details)
            json_data = json.load(json_details)
            for i in json_data['data']['districts']:
                district = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                header_5_A['State'].append(state)
                header_5_A['Year'].append(year)
                header_5_A['District'].append(district)
                header_5_A['Count'].append(count)
                header_5_A['Amount'].append(amount)

In [17]:
data_top_trans_district = pd.DataFrame(header_5_A)

In [19]:
data_top_trans_district.to_csv('data_top_trans_district.csv')

In [19]:
file_path = 'C:\\Guvi_project_files\\PhonePeDataVisualization\\pulse\\data\\top\\transaction\\country\\india\\state'
top_trans = os.listdir(file_path)
header_5_B = {'State':[],'Year':[],'District':[],'Count':[],'Amount':[]}
for state in top_trans:
    top_state =  file_path + '/'+ state + '/'
    top_trans_with_state = os.listdir(top_state)
    for year in top_trans_with_state:
        top_state_trans = top_state + year
        topstate_trans_returns = os.listdir(top_state_trans)
        for files in topstate_trans_returns:
            file_details = top_state_trans+'/' + files
            json_details = open(file_details)
            json_data = json.load(json_details)
            for i in json_data['data']['pincodes']:
                pincode = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                header_5_B['State'].append(state)
                header_5_B['Year'].append(year)
                header_5_B['District'].append(district)
                header_5_B['Count'].append(count)
                header_5_B['Amount'].append(amount)

In [21]:
data_top_trans_pincode = pd.DataFrame(header_5_B)

In [22]:
data_top_trans_pincode.to_csv('data_top_trans_pincode.csv')

In [23]:
file_path = 'C:\\Guvi_project_files\\PhonePeDataVisualization\\pulse\\data\\top\\user\\country\\india\\state'
data_top_user = os.listdir(file_path)
header_6_A = {'State':[],'Year':[],'District':[],'RegisteredUser':[]}
for state in data_top_user:
    states = file_path + '/' + state + '/'
    data_top_user_state = os.listdir(states)
    for year in data_top_user_state:
        years = states + year
        datatop_user_state_year = os.listdir(years)
        for files in datatop_user_state_year:
            json_details = years + '/'+ files
            json_file = open(json_details)
            json_data = json.load(json_file)
            for i in json_data['data']['districts']:
                district = i['name']
                resgistereduser = i['registeredUsers']
                header_6_A['State'].append(state)
                header_6_A['Year'].append(year)
                header_6_A['District'].append(district)
                header_6_A['RegisteredUser'].append(resgistereduser)

In [25]:
data_top_user_district = pd.DataFrame(header_6_A)

In [25]:
data_top_user_district.to_csv('data_top_user_district.csv')

In [28]:
file_path = 'C:\\Guvi_project_files\\PhonePeDataVisualization\\pulse\\data\\top\\user\\country\\india\\state'
data_top_user = os.listdir(file_path)
header_6_B = {'State':[],'Year':[],'Pincode':[],'RegisteredUser':[]}
for state in data_top_user:
    states = file_path + '/' + state + '/'
    data_top_user_state = os.listdir(states)
    for year in data_top_user_state:
        years = states + year
        datatop_user_state_year = os.listdir(years)
        for files in datatop_user_state_year:
            json_details = years + '/'+ files
            json_file = open(json_details)
            json_data = json.load(json_file)
            for i in json_data['data']['pincodes']:
                district = i['name']
                resgistereduser = i['registeredUsers']
                header_6_B['State'].append(state)
                header_6_B['Year'].append(year)
                header_6_B['Pincode'].append(district)
                header_6_B['RegisteredUser'].append(resgistereduser)

In [29]:
data_top_user_pincode = pd.DataFrame(header_6_B)

In [28]:
data_top_user_pincode.to_csv('data_top_user_pincode.csv')

In [31]:
import mysql.connector

In [32]:
my_connection = mysql.connector.connect(host = 'localhost',user = 'root',password='1234')

In [33]:
mycursor = my_connection.cursor()

In [145]:
mycursor.execute('create database PhonePe_Pulse_DB')

DatabaseError: 1007 (HY000): Can't create database 'phonepe_pulse_db'; database exists

In [34]:
mycursor.execute('use PhonePe_Pulse_DB')

In [142]:
mycursor.execute('create table Aggregated_user(State varchar(50),Year varchar(50),Brands varchar(50),Count varchar(50),Percentage varchar(50))')

In [31]:
query = mycursor.execute('select State, sum(Count) as Total_Transactions_Count, sum(Amount) as Amount from map_transaction where Year group by State order by Amount')
datas = mycursor.fetchall()
district = []
counts =[]
amounts = []
for data in datas:
    district.append(data[0])
    counts.append(int(data[1]))
    amounts.append(int(data[2]))
print('Dius',district)
print('Count',counts)
print('Amot',amounts)

Dius ['lakshadweep', 'mizoram', 'andaman-&-nicobar-islands', 'ladakh', 'sikkim', 'meghalaya', 'nagaland', 'dadra-&-nagar-haveli-&-daman-&-diu', 'tripura', 'arunachal-pradesh', 'puducherry', 'manipur', 'goa', 'chandigarh', 'himachal-pradesh', 'jammu-&-kashmir', 'uttarakhand', 'assam', 'punjab', 'kerala', 'chhattisgarh', 'jharkhand', 'haryana', 'gujarat', 'odisha', 'tamil-nadu', 'west-bengal', 'delhi', 'bihar', 'madhya-pradesh', 'uttar-pradesh', 'rajasthan', 'andhra-pradesh', 'karnataka', 'maharashtra', 'telangana']
Count [166804, 5796340, 7747331, 7123601, 18750367, 20197849, 17180851, 43966520, 32364668, 27274484, 59384639, 45147601, 98849639, 90820816, 170818031, 164904607, 440122775, 528422472, 582273955, 822459542, 941074354, 1008027640, 1870596824, 2052224247, 2561254352, 2742806151, 2687915807, 3274904754, 2745429444, 4463695860, 4636625871, 5130073858, 5321987775, 9570042576, 10389479956, 9143814959]
Amot [495222951, 17494078054, 18994709086, 23042534353, 42941467442, 47703059453, 48933677248, 57343059311, 63058503423, 70543242969, 99110061596, 118933382882, 160566288631, 160799555158, 284699619220, 344701121864, 699176537087, 1100828258045, 1164042246844, 1228493669465, 1468349999500, 1706199321996, 3264982489119, 3625037788890, 4087671271594, 4700872137057, 4969909303386, 5111844076155, 5649345088706, 7026999292814, 8179116124944, 9110359753665, 11584751709187, 13874332400299, 14771332714776, 16522924338545]

In [144]:
for i,data in data_aggregated_user.iterrows():
    sql_insert = 'INSERT INTO Aggregated_user(State,Year,Brands,Count,Percentage) VALUES(%s,%s,%s,%s,%s)'
    mycursor.execute(sql_insert,tuple(data))
    my_connection.commit()

In [150]:
mycursor.execute('create table map_transaction(State varchar(50),Year varchar(50),District_Name varchar(50),Count varchar(50),Amount varchar(50))')

In [152]:
for i,data in data_map_transaction.iterrows():
    sql_insert = 'INSERT INTO map_transaction(State,Year,District_Name,Count,Amount) VALUES(%s,%s,%s,%s,%s)'
    mycursor.execute(sql_insert,tuple(data))
    my_connection.commit()

In [155]:
mycursor.execute('create table aggregated_transaction(State varchar(50),Year varchar(50),Mode varchar(50),Count varchar(50),Amount varchar(50))')

In [156]:
for i,data in data_aggregated_transaction.iterrows():
    sql_insert = 'INSERT INTO aggregated_transaction(State,Year,Mode,Count,Amount) VALUES(%s,%s,%s,%s,%s)'
    mycursor.execute(sql_insert,tuple(data))
    my_connection.commit()

In [162]:
mycursor.execute('create table map_user(State varchar(50),Year varchar(50),District varchar(50),Register_user varchar(50),AppOpens varchar(50))')

ProgrammingError: 1050 (42S01): Table 'map_user' already exists

In [163]:
for i,data in data_map_user.iterrows():
    sql_insert = 'INSERT INTO map_user(State,Year,District,Register_user,AppOpens) VALUES(%s,%s,%s,%s,%s)'
    mycursor.execute(sql_insert,tuple(data))
    my_connection.commit()

In [164]:
mycursor.execute('create table top_trans_district(State varchar(50),Year varchar(50),District varchar(50),Count varchar(50),Amount varchar(50))')

In [165]:
for i,data in data_top_trans_district.iterrows():
    sql_insert = 'INSERT INTO top_trans_district(State,Year,District,Count,Amount) VALUES(%s,%s,%s,%s,%s)'
    mycursor.execute(sql_insert,tuple(data))
    my_connection.commit()

In [166]:
mycursor.execute('create table top_trans_pincode(State varchar(50),Year varchar(50),District varchar(50),Count varchar(50),Amount varchar(50))')

In [168]:
for i,data in data_top_trans_pincode.iterrows():
    sql_insert = 'INSERT INTO top_trans_pincode(State,Year,District,Count,Amount) VALUES(%s,%s,%s,%s,%s)'
    mycursor.execute(sql_insert,tuple(data))
    my_connection.commit()

In [169]:
mycursor.execute('create table top_user_district(State varchar(50), Year varchar(50), District varchar(50), RegisteredUser varchar(50))')

In [171]:
for i,data in data_top_user_district.iterrows():
    sql_insert = 'INSERT INTO top_user_district(State,Year,District,RegisteredUser) VALUES(%s,%s,%s,%s)'
    mycursor.execute(sql_insert,tuple(data))
    my_connection.commit()

In [172]:
mycursor.execute('create table top_user_pincode(State varchar(50), Year varchar(50), Pincode varchar(50), RegisteredUser varchar(50))')

In [174]:
for i,data in data_top_user_pincode.iterrows():
    sql_insert = 'INSERT INTO top_user_pincode(State,Year,Pincode,RegisteredUser) VALUES(%s,%s,%s,%s)'
    mycursor.execute(sql_insert,tuple(data))
    my_connection.commit()

In [183]:
row = mycursor.fetchall()
row

[('aggregated_transaction',),
 ('aggregated_user',),
 ('map_transaction',),
 ('map_user',),
 ('top_trans_district',),
 ('top_trans_pincode',),
 ('top_user_district',),
 ('top_user_pincode',)]

In [78]:
mycursor.execute("SELECT State, SUM(Count) AS Count, SUM(Amount) AS Amount FROM map_transaction WHERE Year GROUP BY State ORDER BY State")
datas = mycursor.fetchall()
district = []
counts = []
amounts = []
for data in datas:
    district.append(data[0])
    counts.append(int(data[1]))
    amounts.append(int(data[2]))
with open("data/states_india.geojson") as geojson_file:
    geojson_data = json.load(geojson_file)
code =[]
for feature in geojson_data['features']:
    code.append(feature['properties']['state_code'])
# print(code)

location_df = pd.DataFrame({"State": district,"LocationCode" : code})
location_df
merged_data = pd.merge(location_df, pd.DataFrame({"State": district, "Count": counts, "Amount": amounts}), on="State")
merged_data

,State,LocationCode,Count,Amount
0,andaman-&-nicobar-islands,0,7747331,18994709086
1,andhra-pradesh,35,5321987775,11584751709187
2,arunachal-pradesh,28,27274484,70543242969
3,assam,12,528422472,1100828258045
4,bihar,18,2745429444,5649345088706
5,chandigarh,10,90820816,160799555158
6,chhattisgarh,22,941074354,1468349999500
7,dadra-&-nagar-haveli-&-daman-&-diu,25,43966520,57343059311
8,delhi,30,3274904754,5111844076155
9,goa,24,98849639,160566288631
10,gujarat,6,2052224247,3625037788890
11,haryana,2,1870596824,3264982489119
12,himachal-pradesh,1,170818031,284699619220
13,jammu-&-kashmir,20,164904607,344701121864
14,jharkhand,29,1008027640,1706199321996
15,karnataka,32,9570042576,13874332400299
16,kerala,31,822459542,1228493669465
17,ladakh,23,7123601,23042534353
18,lakshadweep,27,166804,495222951
19,madhya-pradesh,14,4463695860,7026999292814
20,maharashtra,4,10389479956,14771332714776
21,manipur,34,45147601,118933382882
22,meghalaya,3,20197849,47703059453
23,mizoram,8,5796340,17494078054
24,nagaland,11,17180851,48933677248
25,odisha,33,2561254352,4087671271594
26,puducherry,16,59384639,99110061596
27,punjab,9,582273955,1164042246844
28,rajasthan,5,5130073858,9110359753665
29,sikkim,19,18750367,42941467442
30,tamil-nadu,21,2742806151,4700872137057
31,telangana,26,9143814959,16522924338545
32,tripura,17,32364668,63058503423
33,uttar-pradesh,15,4636625871,8179116124944
34,uttarakhand,13,440122775,699176537087
35,west-bengal,7,2687915807,4969909303386